@model Investments.Models.DateIdea;
@{
    ViewData["Title"] = "Date Idea";
}


<div class="text-center">
    <h1 class="display-4">@Model.NameOfEvent</h1>
</div>

<!-- Information about Date Idea -->
<div class="container">
    <a class="lead" target="_blank"
       href="@Model.Href">
        @Model.LinkText
    </a>
</div>
