@model Game;
@{
    ViewData["Title"] = "FIGHT!!!";
}

<div class="text-center">
    <h1 class="display-4">
        @Model.Player1.Name: @Model.Player1.Wins
         VS
        @Model.Player2.Name: @Model.Player2.Wins
    </h1>
</div>

<!-- THE GAME -->

<div class="row">
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
</div>

<div class="row">
    <a asp-controller="TicTacToe" aps-action="PlayerMove"  class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
</div>

<div class="row">
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
    <a asp-controller="TicTacToe" aps-action="PlayerMove" class="col-4">
        <img style="border:2px solid black"
             width="320" height="225" src="/Images/white.png" />
    </a>
</div>
