@model Investments.Models.ListOfHouse;
@{
    ViewData["Title"] = "House Information";
}

<!--
    create loop to view mortage payment at
    different intrest rates
-->

@foreach (HouseInvestment house in Model.LOH)
{
    <div class="card text-center">
        <div class="card-header">
            <code>
                Fixed Intrest Rate: @house.FixedIntrestRate%
            </code>
        </div>
        <div class="card-body">
            <h4 class="card-title display-4">
                Mortgage Payment: <code>
                    $@String.Format("{0:0,0.##}", house.MortgageMonthlyPayment)
                </code>
            </h4>
            <p class="card-text">
                The total money paid for this house was <code>$@String.Format("{0:0,0.##}", house.TotalCostPayed)</code> and
                the you paid <code>$@String.Format("{0:0,0.##}", house.PayedIntrest)</code> in intrest.
            </p>
        </div>
    </div>
    <br />
}


