@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!-- Stock/Home Investment Buttons -->
    <div class="row justify-content-center">

        <!-- Stock Investments -->
        <div class="col-2">

            <form asp-controller="Home" asp-action="StockInvestments">

                <input type="submit" class="btn btn-success" value="Sock Investments" />

            </form>

        </div>

        <!-- Home Investments -->
        <div class="col-2">

            <form asp-controller="Home" asp-action="NewHomeInvestment">

                <input type="submit" class="btn btn-primary" value="Home Investments" />

            </form>

        </div>

        <!-- To Do List -->
        <div class="col-2">
            <form asp-controller="ToDoList" asp-action="Index">

                <input type="submit" class="btn btn-warning" value="To Do List Jose" />

            </form>
        </div>

        <!-- Date Ideas -->
        <div class="col-2">
            <form asp-controller="Vanessa" asp-action="Index">

                <input type="submit" class="btn btn-success" value="Date Ideas With Vanessa" />

            </form>
        </div>

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
