@model Investments.Models.HouseInvestment;
@{
    ViewData["Title"] = "New Home Investment";
}



<div class="text-center">

    <h1 class="display-4">New Home Investment</h1>

</div>

<!--
       Form for Home Investment
-->
<div>

    <form asp-controller="Home" asp-action="CalculateHouseInfomation">

        <!-- Price of House -->
        <label class="lead">Price of House:
            <code>Don't include $ or ,</code> </label>
        <input class="form-control" placeholder="$500,000"
               type="number" asp-for="PriceOfHouse" />

        <!-- Down Payment -->
        <label class="lead">Down Payment:
            <code>Don't include $ or ,</code> </label>
        <input class="form-control" placeholder="$30,000"
               type="number" asp-for="DownPayment" />

        <!-- Duration of Loan -->
        <label>Duration of Loan: (In Years)</label>
        <input class="form-control" placeholder="30"
               type="number" asp-for="DurationOfLoanInYears" />

        <!-- Fixed Intrest Rate -->
        <label>Fixed Intrest Rate:</label>
        <input class="form-control" placeholder="5"
               type="number" asp-for="FixedIntrestRate"/>

        <!-- Credit Score -->
        <label class="lead">Credit Score:</label>
        <input class="form-control" placeholder="720"
               type="number" asp-for="CreditScore" />

        <br />
        <input class="btn btn-primary"
               type="submit" 
               value="Calculate Monthly Mortgage Payment" />

    </form>

</div>
